.container
  %center
    %h1 
      Welcome
      = @user.name
      !
  %h4 We use these questions to help match you the best we can
  %hr
  = form_for @user, html: {class: 'form-horizontal', id: 'welcome_edit_account'}, remote: true do |f|
    = render partial: 'users/edit_account_fields', locals: {f: f, show_email: false}
  .row
    .col-sm-12
      %center
        = link_to 'NEXT', welcome2_path, class: 'btn btn-lg btn-primary', id: 'welcome1_submit'
  .row
    %br

